<script lang="ts" setup>
import { ref } from "vue";
const photo = ref("feeling_imgs/smile.png");
const text = ref("Smile");
const colors = ref(6);
function process(status: string, feeling: string, color: number) {
  text.value = status;
  photo.value = feeling;
  colors.value = color;
}
</script>
<template>
  <v-container>
    <v-card>
      <v-row>
        <v-col cols="6">
          <v-img
            :src="photo"
            width="700"
            class="justify-center"
            style="margin: auto"
          ></v-img>
        </v-col>
        <v-col>
          <v-container>
            <v-row class="justify-center">
              <v-col>
                <h1 style="text-align: center; font-size: 50pt">
                  {{ text }}
                </h1>
                <div style="margin-top: 10px">
                  <v-btn
                    :color="colors === 1 ? 'yellow' : 'none'"
                    height="55px"
                    @click="process('Angry', 'feeling_imgs/angry.png', 1)"
                    block
                    >ANGRY</v-btn
                  >
                </div>
                <div style="margin-top: 10px">
                  <v-btn
                    :color="colors === 2 ? 'yellow' : 'none'"
                    height="55px"
                    @click="process('Cute', 'feeling_imgs/cute.png', 2)"
                    block
                    >CUTE</v-btn
                  >
                </div>
                <div style="margin-top: 10px">
                  <v-btn
                    :color="colors === 3 ? 'yellow' : 'none'"
                    height="55px"
                    @click="process('Excited', 'feeling_imgs/excited.png', 3)"
                    block
                    >EXCITED</v-btn
                  >
                </div>
                <div style="margin-top: 10px">
                  <v-btn
                    :color="colors === 4 ? 'yellow' : 'none'"
                    height="55px"
                    @click="process('Pain', 'feeling_imgs/pain.png', 4)"
                    block
                    >PAIN</v-btn
                  >
                </div>
                <div style="margin-top: 10px">
                  <v-btn
                    :color="colors === 5 ? 'yellow' : 'none'"
                    height="55px"
                    @click="process('Shocked', 'feeling_imgs/shocked.png', 5)"
                    block
                    >SHOCKED</v-btn
                  >
                </div>
                <div style="margin-top: 10px">
                  <v-btn
                    :color="colors === 6 ? 'yellow' : 'none'"
                    height="55px"
                    @click="process('Smile', 'feeling_imgs/smile.png', 6)"
                    block
                    >SMILE</v-btn
                  >
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<style scoped>
.focus-color {
  background-color: rgb(217, 255, 0);
}
</style>
